---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-narrowing-conversions,
  cert-*,
  -cert-err33-c,
  -cert-err58-cpp,
  cppcoreguidelines-avoid-goto,
  cppcoreguidelines-no-malloc,
  cppcoreguidelines-slicing,
  google-build-using-namespace,
  google-explicit-constructor,
  google-runtime-int,
  misc-redundant-expression,
  misc-unused-using-decls,
  modernize-avoid-bind,
  modernize-deprecated-headers,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-redundant-void-arg,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-emplace,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-container-size-empty,
  readability-misleading-indentation,
  readability-redundant-string-cstr,

WarningsAsErrors: ''
HeaderFilterRegex: 'native/src/.*'
FormatStyle: file
